// UNCLASSIFIED

extends site
append siteparms
	- help = "Edit/view a specified project &name at the desired level &more of detail."
	- view = "intake"
	- parms = {default: "more=0", more: "more=1", "more+": "more=2", "more++": "more=3", "more!": "more=4"}	
append sitearea

	#null.TRLs(path="/states.db?Class=TRL",sync,cols="State,Name,Special")

	- more = parseInt(query.more) || 0
	
	case more
		when 4
			#fit.Welcome
				#grid.News(
					path="/news.db",
					page=25,dims="[750,500]",typical,
					cols="Starts.d,Stay.n,Age.n,Fuse.n,Message.h,Category.t,To.t")
					
				#splash(path="/",dims="[750,500]")

		when 3
			#fit.Welcome
				#grid.News(
					path="/news.db",
					page=25,dims="[750,500]",typical,
					cols="Starts.d,Stay.n,Age.n,Fuse.n,Message.h,Category.t,To.t")
		when 2
			#pivot.Find(
				path="/intake.db",
				page=50,dims="#{dims}",track="#{type}",typical,
				pivots="App",
				cols="Name,App,Tech,TRL,General(Special,HWConfig,SWConfig,Parms),Data Collect Requirements(Reqts(C*),iName,iClassif,iSpec),Host Env Requirements(Reqts(H*),oName,oClassif,oSpec),Dissem Requirements(M*)")

			#grid.List(
				path="/intake.db",
				links="Name.Find.Name",
				page=50,dims="#{dims}",typical,
				cols="Name,App,Tech,TRL,General(Special,HWConfig,SWConfig,Parms),Data Collect Requirements(Reqts(C*),iName,iClassif,iSpec),Host Env Requirements(Reqts(H*),oName,oClassif,oSpec),Dissem Requirements(M*)")
				
			#form.Edit(
				path="/intake.db",
				links="Name.List.Name",
				page=50,dims="#{dims}",actions,
				cols="Name,App,Tech,TRL,General(Special,HWConfig,SWConfig,Parms),Data Collect Requirements(Reqts(C*),iName,iClassif,iSpec),Host Env Requirements(Reqts(H*),oName,oClassif,oSpec),Dissem Requirements(M*)")
		
		when 1
			#grid.List(
				path="/intake.db",
				page=50,dims="#{dims}",typical,search="Special,App,Tech,Name",menu="Search",
				cols="Name,App,Tech,TRL,General(Special,HWConfig,SWConfig,Parms),Data Collect Requirements(Reqts(C*),iName,iClassif,iSpec),Host Env Requirements(Reqts(H*),oName,oClassif,oSpec),Dissem Requirements(M*)")
				
			#form.Edit(
				path="/intake.db",
				links="Name.List.Name",
				page=50,dims="#{dims}",actions,
				cols="Name,App,Tech,TRL,General(Special,HWConfig,SWConfig,Parms),Data Collect Requirements(Reqts(C*),iName,iClassif,iSpec),Host Env Requirements(Reqts(H*),oName,oClassif,oSpec),Dissem Requirements(M*)")
		
		default
			#form.Edit(
				path="/intake.db",
				page=50,dims="#{dims}",actions,
				cols="Name,App,Tech,TRL,General(Special,HWConfig,SWConfig,Parms),Data Collect Requirements(Reqts(C*),iName,iClassif,iSpec),Host Env Requirements(Reqts(H*),oName,oClassif,oSpec),Dissem Requirements(M*)")

// UNCLASSIFIED
