// UNCLASSIFIED

extends site
append siteparms
	- help = "Edit engine by specified &name and &engine type."
	- view = "Editor"
	- dims = "[1200,2000]"
	- dock = "left"
append sitearea

	#null.States(path="/states.db?Class=Engine",cols="Name")
		
	#form.Edit(
		path="/engines.db",
		actions,dims="#{dims}",
		links="Name.#{query.name},Engine.#{query.engine}",
		cols="Code(Code.x),Name,Engine,Enabled.c")

	#grid.Roles(
		path="/roles.db",
		actions,help,page="#{page}",check,
		cols="Table,Special,Roles(INSERT,UPDATE,DELETE,SELECT,PROXY)")

	#grid.Parms(
		path="/parms.db",
		actions,help,page="#{page}",check,
		cols="Parm.t.Name,Label.t,Type,Special,Verified(V*),Type(At Input.c,At Output.c,At System.c),Stakeholder(Org*)")

	#grid.States(
		path="/states.db",
		actions,help,page="#{page}",check,
		cols="Class,State.n,Name,Special,Supporting")

// UNCLASSIFIED
