//- UNCLASSIFIED

extends reveal
append reveal_help
	Provides a SWAG tutorial, project status, and recent experimental results.

append reveal_parms
	- classif = "(U) Unclassified"
	- help = "0123=more HC=Helipad/Car experiments T=Totem tutorial"
	- more = {0: "/swag_brief.view", 1:"/swag_brief.view?more=1", 2:"/swag_brief.view?more=2", H:"/swag_brief.view?option=H", C:"/swag_brief.view?option=C", T:"/home_brief.view"}
append reveal_body

	section

		p.lg SWAG
		p.al AWS 172.31.76.130:8080/tutorial.view
		p.al ILE https://fsgalam.east.ile.nga.ic.gov/tutorial.view
		p.al brian.d.james@nga.mil
		
	section
		h3.hd Your SWAG interface can be as easy as ...
		
		iframe(src="/swag.view?zone=SWAGometer")
		
	section#bluf
		h3.hd BLUF - Opionion
	
		p.lg.al **Development** of MLAs already internationally funded - so need we invest ?
		p.lg.al MLA market using same business model as .com bust
		p.lg.al Consider funding small (2 +/- 1 gov) effort to **evaluate** vendor MLAs
		
	section#progress
		h3.hd Recent Progress
		
		section
			p.al.fragment.grow Transitioned GeoHub -> AWS -> ILE
			p.al.fragment.grow Briefed to STL GIAT
			p.al.fragment.grow Integrated Digital Globe Source
			p.al.fragment.grow Automated ROC with Different Forecasting Models
			p.al.fragment.grow Completed Shallow + Deep Learning Experiments
			p.al.fragment.grow Added 0,45,90 Degree Training
			p.al.fragment.grow Updated Tutorial 
			p.al.fragment.grow Added Caffe Placeholder
			p.al.fragment.grow Improved Web Service

	//
		section#home
			h3.hd 
				a(href="#back") Background
				|  | 
				a(href="#ideas") R&D
				|  | 
				a(href="#expt") Experiments
				|  | 
				a(href="#service") Service
				|  | 
				a(href="#arch") Architecture

			section
				h2.hd Background
					a World Views
					|  || 
					a Players
					|  || 
					a Framework
					|  || 
					a Derisking Acquisition

				h1.hd Machine Learning in the News
				iframe(src="/layout.view?inline=/shares/concept3.jpg&w=800&h=400")

			section
				h2.hd Background
					a World Views
					|  || 
					a Players
					|  || 
					a Framework
					|  || 
					a Derisking Acquisition

				h1.hd Which of your children are redundant ?
				iframe(src="/layout.view?inline=/shares/concept2.jpg&w=800&h=400")

			section
				h2.hd Background
					a World Views
					|  || 
					a Players
					|  || 
					a Framework
					|  || 
					a Derisking Acquisition

				h1.hd SWAG = Framework
				iframe(src="/layout.view?inline=/shares/concept1.jpg&w=800&h=400")

			section
				h2.hd Background
					a World Views
					|  || 
					a Players
					|  || 
					a Framework
					|  || 
					a Derisking Acquisition

				h1.hd The Supply Chain
				iframe(src="/layout.view?inline=/shares/arch2.jpg&w=800&h=400")

		section#ideas
			h3.hd R&D
			h2.hd Unfunded Research Opportunities (Supply Chain Outreach)
			table
				tr
					td: p.fragment.highlight-red Low-Light Imaging 
					td: p.fragment.highlight-red HSI - CNN | Rotational Forest
				tr
					td: p.fragment.highlight-red ITAR Actor Patterns
					td: p.fragment.highlight-red Semantic - Full CNN | Cascade
				tr
					td: p.fragment.highlight-red GIS Integration
					td: p.fragment.highlight-red Assist Recall of Latent Brain Images
				tr
					td: p.fragment.highlight-red Engineered ROC / AI
					td: p.fragment.highlight-red Infer Backgroundfrom ROC Stats?
				tr
					td: p.fragment.highlight-red Break Captcha Codes 
					td: p.fragment.highlight-red Sync Neural Networks
				tr
					td: p.fragment.highlight-red Bi-Static Tripline
					td: p.fragment.highlight-red Solid Models

		section
			h3.hd Experments
				a(href="#shallow") Shallow
				|  | 
				a(href="#deep") Deep

			each ex in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]
				section#expt
					h2.hd= "Shallow Learning " + ex + ":17"
					iframe(src="/layout.view?inline=/shares/expa#{ex}.jpg&w=800&h=400")

			each ex in [1,2,3,4]
				section#expt
					h2.hd Experments
					h1.hd= "< Deep Learning " + ex + ":4"
					iframe(src="/layout.view?inline=/shares/expb#{ex}.jpg&w=800&h=400")

			each ex in [1,2,3]
				section#expt
					h2.hd Experments
					h1.hd= "< Deep Learning " + ex + ":4"
					iframe(src="/layout.view?inline=/shares/expc#{ex}.jpg&w=800&h=400")

		section#service
			h3.hd Service
				a Use Cases
				| ||
				a Content Mgt

			section
				h2.hd Use Cases

				table
					tr
						th: p Doc
						th: p Generic
						th: p Specific
					tr
						td: a(href="/api.view") API
						td: a(href="/engines.view") Engines
						td: a(href="/swag.view") Dashboard
					tr
						td: a(href="/tutorial.view") Tutorial
						td: a(href="/workflow.view") Workflows
						td: a(href="/files.view") Positives 
					tr
						td: a(href="/skinguide.view") Skin Guide
						td: a(href="/issues.view") Issues	
						td: a(href="/files.view") Negatives
					tr
						td: a(href="/project.view?goto=ASP Reqts") Requirements
						td: a(href="/home.view") Home
						td: a(href="/project.view?goto=Roadmap") Roadmap

			//
				section#cm
					h2.hd Content Management - Wiki on Steriods

					table
						tr
							td: a(href="#cm.briefs") Briefings
							td: a(href="#cm.blogs") Blogs
						tr
							td: a(href="#cm.finders") Finders
							td: a(href="#cm.nav") Navigators
						tr
							td: a(href="#cm.engines") Engines
							td: a(href="#cm.workflows") Workflows
						tr
							td: p.lg Pubs
								a(href="#cm.inline") Inlined
								a(href="#cm.papers") Sourced
							td: a(href="#cm.dash") Dashboards

						tr
							td: a(href="#cm.immersive") Immersive
							td: a(href="#cm.analytics") Analytics

				section#cm.briefs
					h2.hd Briefing Skins
					pre
						code.mysql.
							extends brief
							append briefparms
								- Classif = "(U) Unclassified"
							append briefarea

								section#cm
									h4.hd Content Mgt

										section#cm.engines
											h4.hd Engines: Interface or End Points
											iframe(src="/exsite.view?option=engines&view=Kiss")

									etc
									etc

				section#cm.nav
					iframe(src="/exsite.view?option=navigators&view=Nada&holdoff=Navigation Skins")

				section#cm.engines
					iframe(src="/exsite.view?option=engines&view=Kiss&holdoff=Engine as Skin or End Point")

				section#cm.workflows
					iframe(src="/exsite.view?option=workflows&view=Kiss&holdoff=Engines in Stateless-Stateful Workflows")

				section#cm.dash
					iframe(src="/swag.view?holdoff=SWAG Dashboard")

				section#cm.inline
					h2.hd Mathjax Skins
					table
						tr
							pre
								code.html.
									p.al The Lorenz Equations
									p.
										\[
										\begin{align}
										\dot{x} & = \sigma(y-x) \\
										\dot{y} & = \rho x - y - xz \\
										\dot{z} & = -\beta z + xy
										\end{align}
										\]
									br
									p.al.lg.rd Impressive 'eh
									p.
										\[
										J_\alpha(x) = \sum\limits_{m=0}^\infty \frac{(-1)^m}{m! \, \Gamma(m + \alpha + 1)}{\left({\frac{x}{2}}\right)}^{2 m + \alpha}
										\]

						tr
							p.al The Lorenz Equations
							p.
								\[
								\begin{align}
								\dot{x} & = \sigma(y-x) \\
								\dot{y} & = \rho x - y - xz \\
								\dot{z} & = -\beta z + xy
								\end{align}
								\]
							br
							p.al.lg.rd Impressive 'eh
							p.
								\[
								J_\alpha(x) = \sum\limits_{m=0}^\infty \frac{(-1)^m}{m! \, \Gamma(m + \alpha + 1)}{\left({\frac{x}{2}}\right)}^{2 m + \alpha}
								\]

				section#cm.immersive
					img(src="/shares.construction.jpg",width="20px",height="20px")
					iframe(src="/exsite.view?option=immersion&view=Nada&holdoff=Gaming Skins")

			section#cm.blogs
				iframe(src="/exsite.view?option=blogs&view=Nada&holdoff=Skins are Printable")

			section#cm.papers
				iframe(src="/exsite.view?option=papers&view=Nada&holdoff=Tech Pub Skins")

			section#cm.finders
				iframe(src="/exsite.view?option=finders&view=Nada&holdoff=Data Finding Skins")

			section#cm.analytics
				iframe(src="/exsite.view?option=visuals&view=Nada&holdoff=Data Analytic Skins")

		section#arch
			h3.hd Architecture
				a System
				|  || 
				a Supply
				|  || 
				a Cloud
				|  || 
				a Interface
				|  || 
				a States

			section
				h2.hd System
				iframe(src="/layout.view?inline=/shares/arch1.jpg&w=800&h=400")

			section
				h2.hd Supply Chain
				iframe(src="/layout.view?inline=/shares/arch2.jpg&w=800&h=400")

			section
				h2.hd Cloud Compute
				iframe(src="/layout.view?inline=/shares/arch3.jpg&w=800&h=400")

			section 
				h2.hd Interface = Restful CRUD+E
				iframe(src="/layout.view?inline=/shares/arch4.jpg&w=800&h=400")

			section 
				h2.hd Programmable State Machine
				iframe(src="/layout.view?inline=/shares/arch5.jpg&w=800&h=400")

			section 
				h2.hd QoS Model = Google Business Model
				iframe(src="/layout.view?inline=/shares/arch6.jpg&w=800&h=400")

		section#roadmap
			h3.hd Roadmap
			iframe(src="/project.view?goto=Roadmap&w=800&h=400")

//- UNCLASSIFIED
